body {
    margin: 0;
}

.canvas {
    position: relative;
}

.background-img {
    width: 100%;
}

.box {
    position: absolute;
    position: absolute;
    top: 70%;
    left: 1%;
    width: 20%;
    z-index: 2; /* Above background */

}

.box:hover {
    cursor: pointer;
}