html {
    color: rgb(125, 200, 255);
}

body {
    margin: 0;
}

.canvas {
    position: relative;
}

.background-img {
    height: 100%;
    width: 100%;
    display: flex;
}

.back-btn{
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    border: 10px;
    background: gray;
}


.back-btn:hover{
    background: rgb(80, 80, 80);
}

.room-1 {
    position: absolute;
    top: 55%;
    left: 0.8%;
    width: 13%;
    height: 42%;
    z-index: 2;

}



.room-1:hover {
    cursor: pointer;
    border: 10px solid green;
}

.room-4 {
    position: absolute;
    top: 8%;
    left: 1%;
    width: 20%;
    height: 20%;
    z-index: 3;
}

.room-4:hover {
    cursor: pointer;
    border: 10px solid green;
}